@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=DotGothic16&family=Press+Start+2P&display=swap');


:root {
  --main-neutral: #fff;
  --secondary-neutral: #333;
  --main-highlight: #f67b8f;
  --secondary-highlight: #ffc1cc;
}


* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--main-neutral);
}

h1 {
  color: var(--main-highlight);
  font-family: 'Press Start 2P', cursive;
}

p {
  color: var(--secondary-neutral);
  font-size: large;
}

button {
  background-color: var(--main-highlight);
  color: var(--main-neutral);
}

.highlighttext {
  color: var(--main-highlight);
}

/* not working, figure out later
.pixelfont {
  font-family: 'DotGothic16', sans-serif;
} */

.pinkbutton {
  background-color: var(--main-highlight);
  border: 1px solid var(--main-highlight);
  color: var(--main-neutral);
}

.pinkbutton:hover{
  background-color: var(--main-neutral);
  border: 1px solid var(--main-neutral);
  color: var(--main-highlight);
}

/* ============ PROJECT CARD HOVER EFFECT ============= */
.hovercontainer {
  position: relative;
  width: 50%;
}

.projectimage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.overlay {
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.hovercontainer:hover .overlay {
  height: 100%;
}

.hovertext {
  opacity: 100%;
  color: var(--main-neutral);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* ========================================== */

#project-title {
  font-weight: bold;
  color: var(--main-neutral);
}

#project-info {
  color: var(--main-neutral);
}

.toolsused {
  text-align: center;
}

.toolsused.ul {
  list-style: none;
}

.toolsused, li {
  display: inline-block;
  color: var(--secondary-neutral);
  background-color: var(--main-neutral);
  border-radius: 15px;
  padding: 1px 3px;
  margin-left: 3px;
  margin-right: 3px;
}





