@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=DotGothic16&family=Press+Start+2P&display=swap');


:root {
  --main-neutral: #fff;
  --secondary-neutral: #333;
  --main-highlight: #f67b8f;
  --secondary-highlight: #ffc1cc;
}


* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--main-neutral);
}

h1 {
  color: var(--main-highlight);
  font-family: 'Press Start 2P', cursive;
}

p {
  color: var(--secondary-neutral);
  font-size: large;
}

button {
  background-color: var(--main-highlight);
  color: var(--main-neutral);
}

.highlighttext {
  color: var(--main-highlight);
}

/* not working, figure out later
.pixelfont {
  font-family: 'DotGothic16', sans-serif;
} */

.pinkbutton {
  background-color: var(--main-highlight);
  border: 1px solid var(--main-highlight);
  color: var(--main-neutral);
}

.pinkbutton:hover{
  background-color: var(--main-neutral);
  border: 1px solid var(--main-neutral);
  color: var(--main-highlight);
}

/* ============ PROJECT CARD HOVER EFFECT ============= */
.hovercontainer {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.projectimage {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.overlay {
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.hovercontainer:hover .overlay {
  height: 100%;
}

.hovertext {
  opacity: 100%;
  color: var(--main-neutral);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* ========== PROJECT CARD STYLING ========= */

#project-title {
  font-weight: bold;
  color: var(--main-neutral);
}

#project-info {
  color: var(--main-neutral);
}

.badge-pill {
  background-color: var(--main-neutral);
  color: var(--secondary-neutral);
  margin: 0 5px 5px 0;
  padding: 5px 12px;
  border-radius: 25px;
}

/* ====== SLIDE IN FROM BOTTOM ANIMATION =====*/

.slide-in-bottom {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slide-in-bottom-visible {
  opacity: 1;
  transform: translateY(0);
}

/* ==============TECH STACK================ */

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tool-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: var(--secondary-highlight);
}

#techstackrow {
  margin-top: 10px;
}

/* ========NAVBAR STYLING========== */

.navbar-toggler {
  color: var(--main-highlight);
  border: none;
}

.nav-link:hover {
  color: var(--main-highlight);
}

/* =========CONTACT STYLING======= */
#socials {
  justify-content: space-between;
}

.social-icon{
  color: var(--main-highlight);
  font-size: 3rem;
}

.social-icon:hover {
  color: var(--secondary-highlight);
}

.social-link {
  text-decoration: none;
}

.social-link:hover {
  color: var(--secondary-highlight);
}

.social-link:visited {
  color: var(--secondary-neutral);
}










