@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=DotGothic16&family=Press+Start+2P&display=swap');


:root {
  --main-neutral: #fff;
  --secondary-neutral: #333;
  --main-highlight: #f67b8f;
  --secondary-highlight: #ffc1cc;
}


* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--main-neutral);
}

h1 {
  color: var(--main-highlight);
  font-family: 'Press Start 2P', cursive;
}

p {
  color: var(--secondary-neutral);
  font-size: large;
}

button {
  background-color: var(--main-highlight);
  color: var(--main-neutral);
}

.highlighttext {
  color: var(--main-highlight);
}

/* not working, figure out later
.pixelfont {
  font-family: 'DotGothic16', sans-serif;
} */






